body, html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: visible;
  position: relative;
  height: unset;
}
html, body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  /* display: flex; */
  flex-direction: row;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  position: relative;
}
.container section {
  position: absolute;
}
.black-image {
  background-color: black;
  height: 100%;
}
.opacity_over {
  z-index: 800;
}
.img1, .f1 {
  z-index: 700;
}
.img2, .f2 {
  z-index: 600;
}
.img3, .f3 {
  z-index: 500;
}
.img4, .f4 {
  z-index: 400;
}
.img5, .f5 {
  z-index: 300;
}
.img6, .f6 {
  z-index: 200;
}
.img7, .f7 {
  z-index: 100;
}
.c-text {
  margin: unset;
  font-size: 3rem;
  color: white;
  position: absolute;
  transform: translateY(-50%);
  align-content: center;
  text-align: center;
  letter-spacing: 10px;
}
.highlight {
  font-size: 60px;
}
/* .c-img {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
} */
.c-img {
  flex: 0 0 100vw; /* Each section takes up 100% of the viewport width */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black_page {
  display: flex;
}
@media only screen and (max-width: 980px) {
  .c-img {
    align-items: flex-start;
  }
  .c-text {
    padding-top: 600px;
  }
  .black-image {
    flex-direction: column;
  }
}
.opacity-zero-important {
  opacity: 0 !important;
}
.c-img img {
  width: 100vw;
  height: 100vh;
  display: block; /* Ensure images are visible by default */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */

  /* position: absolute; */
  /* top: 50%; */
  /* left: 0; */
  /* transform: translateY(-50%); */
}
.main {
  background: pink;
  height: 100vh;
}
